<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Wizard</title>

    <script>
        class Stack {
            constructor() {
                this._arr = [];
            }

            push(item) {
                this._arr.push(item);
            }

            pop() {
                return this._arr.pop();
            }

            peak() {
                return this._arr[this._arr.length - 1];
            }

            get_length() {
                return this._arr.length;
            }
        }

    </script>

    <script>
        var words = new Array(10);
        var input = null;
        var cur, index = 0;
        
        $(function() {
            $("#word").focus();
        });

        window.onload = function() {
            const previous = new Stack();
            const next = new Stack();

            input = document.getElementById("word");

            input.onkeydown = function(e) {
                switch(e.keyCode) {
                    case 38:        // Arrow Up
                        e.preventDefault();

                        if(previous.get_length() != 0) {
                            input.value = previous.peak();
                            
                            next.push(previous.pop());                    
                        } else { }
                        break;
                    case 40:        // Arrow Down
                        e.preventDefault();

                        if(next.get_length() != 0) {
                            if(next.get_length() == 1) {
                                previous.push(next.pop());
                            } else {
                                previous.push(next.pop());
                                
                                input.value = next.peak();
                            }
                        } else { }
                        break;
                }
            }

            input.addEventListener("keypress", function(event) {
                e = event || window.event;

                var keyCode = e.keyCode || e.which;

                if (event.key === "Enter") {
                    event.preventDefault();
                    
                    previous.push(input.value);
                    send();
                }

                /* if (keyCode == 38) {     // Arrow Up
                    event.preventDefault();

                    alert("up");
                    
                    if(previous.get_length != 0) {
                        next.push(previous.peak());

                        input.value = "";
                        input.value = previous.pop();
                    }
                }

                if (keyCode == 40) {      // Arrow Down
                    event.preventDefault();

                    alert("down");

                    if(next.get_length != 0) {
                        previous.push(next.peak());

                        input.value = "";
                        input.value = next.pop();
                    }
                } */
            });
        }

        function send() {
            const word = input.value;

            $.ajax({
                url: "/create",
                type: 'POST',
                data: {
                    word: word,
                },
                dataType: 'json',
                success: function (data) {
                    input.value = null;
                    input.focus();
                },
                error: function (xhr, status) {
                    input.value = null;
                    input.focus();
                }
            });
        };
    </script>
</head>
<body>
    <div class="form" method="POST" action="/create">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's search word !</div>
        <div class="input-container ic1">
          <input id="word" name="word" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="word" class="placeholder">Word</label>
        </div>
        <button onclick="send();" id="create_btn" class="submit">submit</button>
      </div>
</body>
</html>

