<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/word.css' />
    <title>Word</title>

    <script>
        setTimeout(function(){
            location.reload();
        },10000);
    </script>
</head>
<body>
    <h1><span class="blue">&lt;</span>Word<span class="blue">&gt;</span> <span class="yellow">Dictionary</pan></h1>
        
        <div class="table_container">
            <table class="container">
                <thead>
                    <tr>
                        <th><h1>Word</h1></th>
                        <th><h1>Meaning</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i<pages.length; i++) { %>
                    <tr>
                        <td><%= pages[i].word %></td>
                        <td><%= pages[i].meaning %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
</body>
</html>